Extracting ATC codes, indication, and side effects from SIDER

In [1]:
import pandas as pd

In [ ]:
drug_atc = pd.read_csv(r"...path_to\RDsqr-KG\Datasets\Sider_4.1\drug_atc.tsv", delimiter='\t')
meddra_all_indications = pd.read_csv(r"...path_to\RDsqr-KG\Datasets\Sider_4.1\meddra_all_indications.tsv\meddra_all_indications.tsv", delimiter='\t')
meddra_all_se = pd.read_csv(r"...path_to\RDsqr-KG\Datasets\Sider_4.1\meddra_all_se.tsv\meddra_all_se.tsv", delimiter='\t')

In [3]:
meddra_all_indications.head()

,CID100000085,C0015544,text_mention,Failure to Thrive,LLT,C0015544.1,Failure to thrive
0,CID100000085,C0015544,text_mention,Failure to Thrive,PT,C0015544,Failure to thrive
1,CID100000085,C0020615,text_mention,Hypoglycemia,LLT,C0020615,Hypoglycaemia
2,CID100000085,C0020615,text_mention,Hypoglycemia,PT,C0020615,Hypoglycaemia
3,CID100000085,C0022661,NLP_indication,"Kidney Failure, Chronic",LLT,C0022661,Renal failure chronic
4,CID100000085,C0022661,NLP_indication,"Kidney Failure, Chronic",PT,C0022661,Renal failure chronic

In [4]:
drug_atc.columns = ['CID','atc']
drug_atc['CID'] = drug_atc['CID'].str.replace('CID', '')

In [5]:
meddra_all_indications.columns = ['CID','UMLS','extraction','indication','term','UMLS_meddra','meddra_indication']
meddra_all_se.columns = ['stitch_id1','stitch_id2','UMLS','term','UMLS_meddra','side_effect']

In [6]:
meddra_all_indications = meddra_all_indications.drop(['UMLS','extraction','indication','term'], axis=1)
meddra_all_indications['CID'] = meddra_all_indications['CID'].str.replace('CID', '')

In [7]:
meddra_all_se = meddra_all_se[['stitch_id1','UMLS_meddra','side_effect']]
meddra_all_se = meddra_all_se.rename(columns={'stitch_id1': 'CID'})
meddra_all_se['CID'] = meddra_all_se['CID'].str.replace('CID', '')

In [8]:
drug_atc.shape

(1559, 2)

In [9]:
drug_atc.head(1)

         CID      atc
0  100000119  L03AA03

In [10]:
meddra_all_indications.shape

(30834, 3)

In [11]:
meddra_all_indications.head(1)

         CID UMLS_meddra  meddra_indication
0  100000085    C0015544  Failure to thrive

In [12]:
meddra_all_se.shape

(309848, 3)

In [13]:
meddra_all_se.head(1)

         CID UMLS_meddra     side_effect
0  100000085    C0000737  Abdominal pain

In [ ]:
drug_atc.to_csv(r"...path_to\RDsqr-KG\Preprocessed_datasets\drug_atc_sider.csv", index=False)
meddra_all_indications.to_csv(r"...path_to\RDsqr-KG\Preprocessed_datasets\drug_indication.csv", index=False)
meddra_all_se.to_csv(r"...path_to\RDsqr-KG\Preprocessed_datasets\drug_se.csv", index=False)