Filtering Protein Protein interactions based on confidence score

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"...path_to\RDsqr-KG\Datasets\STRING\9606.protein.links.detailed.v12.0.txt",delim_whitespace=True)

C:\Users\Arun\AppData\Local\Temp\ipykernel_17428\4118699352.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(r"C:\Users\Arun\Desktop\Capstone\Datasets\String\9606.protein.links.detailed.v12.0.txt\9606.protein.links.detailed.v12.0.txt",delim_whitespace=True)

In [3]:
df_extracted = df[['protein1','protein2','combined_score']]

In [4]:
df_extracted.shape

(13715404, 3)

In [5]:
df_extracted = df_extracted.query('combined_score>=400.00')

In [6]:
df_extracted.shape

(1858944, 3)

In [7]:
df_extracted = df_extracted[['protein1','protein2']]

9606 represents taxonomy ID for humans

In [8]:
df_extracted.iloc[:, 0] = df_extracted.iloc[:, 0].str.lstrip('9606.')
df_extracted.iloc[:, 1] = df_extracted.iloc[:, 1].str.lstrip('9606.')

In [9]:
df_extracted.head()

           protein1         protein2
3   ENSP00000000233  ENSP00000493357
7   ENSP00000000233  ENSP00000371175
16  ENSP00000000233  ENSP00000354878
26  ENSP00000000233  ENSP00000310226
29  ENSP00000000233  ENSP00000258098

In [ ]:
df_extracted.to_csv(r"...path_to\RDsqr-KG\Preprocessed_datasets/ppi_string.csv", index=False)