Drug-Drug Interaction Mapping

In [1]:
import pandas as pd

In [ ]:
df_interactions = pd.read_csv(r"...path_to\RDsqr-KG\Preprocessed_datasets\drug_drug.csv")
df_drugbank = pd.read_csv(r"...path_to\RDsqr-KG\Datasets\DrugBank\drugbank_all_drugbank_vocabulary.csv\drugbank vocabulary.csv")
df_drug_status = pd.read_csv(r"...path_to\RDsqr-KG\Preprocessed_datasets\drug_status.csv")

In [3]:
df_interactions.head(1)

  drug1_id drug2_id
0  DB00002  DB00255

In [4]:
#include only approved/investigational/experimental
df_ddi = pd.merge(df_interactions, df_drug_status, left_on='drug2_id', right_on='drug_name', how='left')

In [5]:
df_ddi.head(1)

  drug1_id drug2_id drug_name include inclusion_types
0  DB00002  DB00255       NaN     NaN             NaN

In [6]:
df_ddi.isna().sum()

drug1_id                0
drug2_id                0
drug_name          597116
include            597116
inclusion_types    597116
dtype: int64

In [7]:
df_ddi.dropna(inplace=True)

In [8]:
df_ddi.head(1)

  drug1_id drug2_id drug_name include inclusion_types
2  DB00002  DB00286   DB00286    True        approved

In [9]:
df_ddi = pd.merge(df_ddi, df_drugbank, left_on='drug1_id', right_on='DrugBank ID', how='left')
df_ddi = df_ddi.rename(columns={'DrugBank ID': 'head_id', 'Common name': 'head_name'})

In [10]:
df_ddi = pd.merge(df_ddi, df_drugbank[['DrugBank ID', 'Common name']], left_on='drug2_id', right_on='DrugBank ID', how='left')
df_ddi = df_ddi.rename(columns={'DrugBank ID': 'tail_id', 'Common name': 'tail_name'})

In [11]:
df_ddi['head_type'] = 'drug'
df_ddi['head_ref'] = 'DrugBank'
df_ddi['tail_type'] = 'drug'
df_ddi['tail_ref'] = 'DrugBank'
df_ddi['predicate'] = 'ddi'

In [12]:
df_ddi = df_ddi[['head_id', 'head_name', 'head_type','head_ref','tail_id', 'tail_name','tail_type','tail_ref','predicate']]

In [13]:
df_ddi.head(1)

,head_id,head_name,head_type,head_ref,tail_id,tail_name,tail_type,tail_ref,predicate
0,DB00002,Cetuximab,drug,DrugBank,DB00286,Conjugated estrogens,drug,DrugBank,ddi

In [14]:
df_ddi.isna().sum()

head_id      0
head_name    0
head_type    0
head_ref     0
tail_id      0
tail_name    0
tail_type    0
tail_ref     0
predicate    0
dtype: int64

In [15]:
df_ddi.drop_duplicates(inplace=True)

In [16]:
df_ddi.shape

(1307286, 9)

In [17]:
#df_ddi.dtypes

In [ ]:
df_ddi.to_csv(r"...path_to\RDsqr-KG\KG_datasets\ddi.csv", index=False)