Drug Targets Mapping from DrugBank - UniProt ID to NCBI ID.

In [1]:
import pandas as pd

In [ ]:
df_drug_target = pd.read_csv(r"...path_to\RDsqr-KG\Preprocessed_files\DrugBank\uniprot links.csv")
df_gene_map = pd.read_csv(r"...path_to\RDsqr-KG\Datasets\Vocabulary_links\gene_links.csv")
df_drug_status = pd.read_csv(r"...path_to\RDsqr-KG\Preprocessed_datasets\drug_status.csv")

In [3]:
df_drug_status.head(1)

  drug_name  include inclusion_types
0   DB00002     True        approved

In [4]:
merged_data = pd.merge(df_drug_target, df_drug_status, left_on='DrugBank ID', right_on='drug_name')

In [5]:
merged_data = merged_data[['DrugBank ID','Name','UniProt ID', 'UniProt Name']]

In [6]:
merged_data.shape

(10003, 4)

In [7]:
df_gene_map['ncbi_id'] = df_gene_map['ncbi_id'].astype(str)

In [8]:
df_dti = pd.merge(merged_data, df_gene_map, left_on='UniProt ID', right_on='UniProt_id', how='left')

In [9]:
df_dti = df_dti.rename(columns={'DrugBank ID': 'head_id', 'Name': 'head_name','ncbi_id': 'tail_id','gene_name': 'tail_name'})

In [10]:
df_dti['head_type'] = 'drug'
df_dti['head_ref'] = 'DrugBank'
df_dti['tail_type'] = 'gene'
df_dti['tail_ref'] = 'NCBI'
df_dti['predicate'] = 'dti'

In [11]:
df_dti = df_dti[['head_id', 'head_name', 'head_type','head_ref','tail_id', 'tail_name','tail_type','tail_ref','predicate']]

In [12]:
df_dti.head(1)

,head_id,head_name,head_type,head_ref,tail_id,tail_name,tail_type,tail_ref,predicate
0,DB00002,Cetuximab,drug,DrugBank,1956,epidermal growth factor receptor,gene,NCBI,dti

In [13]:
df_dti.isna().sum()

head_id        0
head_name      0
head_type      0
head_ref       0
tail_id      820
tail_name    820
tail_type      0
tail_ref       0
predicate      0
dtype: int64

In [14]:
df_dti.dropna(inplace=True)

In [15]:
df_dti.isna().sum()

head_id      0
head_name    0
head_type    0
head_ref     0
tail_id      0
tail_name    0
tail_type    0
tail_ref     0
predicate    0
dtype: int64

In [16]:
df_dti.drop_duplicates(inplace=True)

In [17]:
df_dti.shape

(9037, 9)

In [18]:
#df_dti = df_dti.applymap(lambda x: str(x).strip())

In [19]:
#df_dti.dtypes

In [ ]:
df_dti.to_csv(r"...path_to\RDsqr-KG\KG_datasets\dti.csv", index=False)