Mapping UniProt IDs to NCBI IDs from Negatome

In [1]:
import pandas as pd

In [ ]:
df_negatome = pd.read_csv(r"...path_to\RDsqr-KG\Datasets\Negatome\negatome_combined.txt", sep='\t',header=None, names=['proteinA', 'proteinB'])
df_gene_map = pd.read_csv(r"...path_to\RDsqr-KG\Datasets\Vocabulary_links\gene_links.csv")

In [3]:
df_gene_map['ncbi_id'] = df_gene_map['ncbi_id'].astype(str)

In [4]:
df_negatome.head()

  proteinA proteinB
0   Q6ZNK6   Q9Y4K3
1   Q9NR31   Q15797
2   P11627   P53986
3   P33176   Q96EK5
4   Q9NPY3   P02745

In [5]:
df_nppi = pd.merge(df_negatome, df_gene_map, left_on='proteinA', right_on='UniProt_id', how='left')
df_nppi = df_nppi.rename(columns={'ncbi_id': 'head_id', 'gene_name': 'head_name'})

In [6]:
df_nppi = pd.merge(df_nppi, df_gene_map[['ncbi_id', 'gene_name','UniProt_id']], left_on='proteinB', right_on='UniProt_id', how='left')
df_nppi = df_nppi.rename(columns={'ncbi_id': 'tail_id', 'gene_name': 'tail_name'})

In [7]:
df_nppi['head_type'] = 'gene'
df_nppi['head_ref'] = 'NCBI'
df_nppi['tail_type'] = 'gene'
df_nppi['tail_ref'] = 'NCBI'
df_nppi['predicate'] = 'nppi'

In [8]:
df_nppi = df_nppi[['head_id', 'head_name', 'head_type','head_ref','tail_id', 'tail_name','tail_type','tail_ref','predicate']]

In [9]:
df_nppi.head()

,head_id,head_name,head_type,head_ref,tail_id,tail_name,tail_type,tail_ref,predicate
0,497189,TIFA inhibitor,gene,NCBI,7189,TNF receptor associated factor 6,gene,NCBI,nppi
1,56681,secretion associated Ras related GTPase 1A,gene,NCBI,4086,SMAD family member 1,gene,NCBI,nppi
2,NaN,NaN,gene,NCBI,NaN,NaN,gene,NCBI,nppi
3,3799,kinesin family member 5B,gene,NCBI,26128,kinesin family binding protein,gene,NCBI,nppi
4,22918,CD93 molecule,gene,NCBI,712,complement C1q A chain,gene,NCBI,nppi

In [10]:
df_nppi.shape

(6560, 9)

In [11]:
df_nppi.isna().sum()

head_id      4756
head_name    4756
head_type       0
head_ref        0
tail_id      4720
tail_name    4720
tail_type       0
tail_ref        0
predicate       0
dtype: int64

In [12]:
df_nppi.dropna(inplace=True)

In [13]:
df_nppi.isna().sum()

head_id      0
head_name    0
head_type    0
head_ref     0
tail_id      0
tail_name    0
tail_type    0
tail_ref     0
predicate    0
dtype: int64

In [14]:
df_nppi.drop_duplicates(inplace=True)

In [15]:
df_nppi.shape

(1534, 9)

In [16]:
#df_nppi = df_nppi.applymap(lambda x: str(x).strip())

In [17]:
#df_nppi.dtypes

In [ ]:
df_nppi.to_csv(r"...path_to\RDsqr-KG\KG_datasets\nppi.csv",index=False)