Compiling all the .csv files

In [1]:
import os
import dask.dataframe as dd

In [ ]:
kg_datasets = r"...path_to\RDsqr-KG\KG_datasets"

In [3]:
all_files = os.path.join(kg_datasets, "*.csv")
df = dd.read_csv(all_files, dtype=str)

In [4]:
kg = df.compute()

In [5]:
kg.shape

(5915014, 11)

In [6]:
kg = kg.drop(columns='Unnamed: 0')

In [7]:
kg.head(1)

,head_id,head_name,head_type,head_ref,tail_id,tail_name,tail_type,tail_ref,predicate,status
0,DB00002,Cetuximab,drug,DrugBank,DB00286,Conjugated estrogens,drug,DrugBank,ddi,NaN

In [8]:
kg.isna().sum()

head_id            0
head_name          0
head_type          0
head_ref           0
tail_id            0
tail_name          0
tail_type          0
tail_ref           0
predicate          0
status       5913984
dtype: int64

In [9]:
kg.drop_duplicates(inplace=True)

In [10]:
kg.shape

(5915009, 10)

In [ ]:
kg.to_csv(r"...path_to\RDsqr-KG\Knowledge_Graph\kg.csv", index=False)